/* General Styles */
body {
  height: 1000px;
  background-color: rgb(18, 18, 27);
  background: linear-gradient(to bottom, rgb(21, 21, 26), rgb(52, 52, 59))
}
.container {
    font-family: Arial, sans-serif;
  }
  
  /* Header Section */
  .header {
    display: flex;
    align-items: left;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.5); /* Semi-transparent background */
    color: #fff;
  }
  
  .logo {
    width: 150px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .searchBar {
    padding: 5px;
    margin-right: 100px;
    width: 200px;
  }
  
  .nav {
    width: 300px;
    display: flex;
    gap: 115px;
    align-items: center;
  }
  
  .navLink {
    color: #fff;
    text-decoration: none;
  }
  
  .userIcons {
    display: flex;
    gap: 10px;
  }
  
  .featureContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
  
  }
  
  .banner {
    flex: 1;
    text-align: center;
    background-color: rgba(139, 139, 139, 0.5);
    padding: 20px;
    color: black;
  }
  
  .productHighlight {
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(139, 139, 139, 0.5);
    padding: 10px;
    color: black;
  }
  
  .image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  
  /* Carousel Section */
  .carousel {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 90%;
    height: 400px;
    background-color: rgba(139, 139, 139, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .productCard {
    flex: 0 0 auto;
    width: 200px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Footer Section */
  .footer {
    width: 100%;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.5); /* Semi-transparent background */
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
  }
  
  .footerLink {
    color: #fff;
    text-decoration: none;
  }
  